h1{
    text-align: center;
    text-decoration: solid;
}
img.center{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}
h2{
    font-style: oblique;
    text-align: center;
}
div.center {
    position: absolute;
    top: 20%;
    left: 35%;
    transform: translate(-50%, -50%);
  }
nav.main-nav{
    position: absolute;
    top: 35%;
    left: 35%;
    transform: translate(-50%, -50%);
}
body.img{
    background-image:'C:\Users\Admin\Desktop\WelcomePage.jpg';
}