form{
    position: absolute;
    top: 20%;
    left: 5%;
    color: burlywood ;
    text-shadow: -3px 5px rgb(112, 112, 106);
    font-size: large;
}
a{
    color: rgb(72, 56, 160);
}
input.Signup{
    background-color: rgb(51, 51, 109);
    color: white;
}
input.Signin{
    background-color: rgb(51, 51, 109);
    color: white;
}