h1
{
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    text-align: center;
    letter-spacing: 2px;
    background-color: rgb(0, 255, 136);
    text-shadow: -5px 8px palegoldenrod;
    color: darkred;
}
h2{
    text-align: center;
}
ul.pk{
    text-transform: uppercase;
    text-decoration: dashed;
    text-align: right;
}
img{
    text-align: center;
    
}
nav.pk{
    text-align: center;
    background-color: white;

}
input.sk
{
    background-color: blue;
}
input:hover{
    color: yellow;
}
h3
{
    color:white;
    text-decoration: underline;
    text-align: center;
    letter-spacing: 2px;
    text-shadow: 20px;
}

h4{
    color:white;
}
li{
    color: white;
}
l{
    text-align: center;
}
header{
    text-align: center;
}
p
{
    color:chocolate;
    text-shadow: 5px yellow;
    backdrop-filter: red;
    text-align: center; 
}


b
{
    text-align: center;
    color: yellow;
   
}
input.emailid:valid{
    background-color: ivory;

    outline: 2px solid deepskyblue;
    border-radius: 5px;
    accent-color: rgb(10, 10, 10);
}
input.emailid:invalid{
    border: 3px red;
}
body{
    background-color: white;
    border-style: double;
    border-color: darkred;
}
h6{
    font-variant-position:super;
    font-style: bold;
    
}

a{
    text-align: right;
}

section{
    background-color: white;
}
article{
    background-color: rgb(207, 176, 236);
}
article:visited{
    color: darkblue;
}